<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CSH.Interface.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="InInterval" value="1000" />
	  <add key="InDrugInterval" value="10000" />
	  <add key="InSearchInterval" value="20000" />
    <add key="LogLevel" value="debug" />
    <add key="LogFilePath" value="Log" />
    <add key="LogFileKeepDay" value="30" />
    <add key="DeptCode" value="BBZY027" />
    <add key="InPatientType" value="I,E" />
    <add key="DrugOrderType" value="中药,西药" />
    <add key="InsertMsg" value="false" />
	<add key="LisBloodSharePath" value="false" />
  </appSettings>
  <connectionStrings>
    <add name="BrokerCacheDB" connectionString="Data Source=192.168.122.172;Initial Catalog=BrokerCacheDB;User ID=sa;Password=123;" />
    <add name="Lis" connectionString="Data Source=localhost;Initial Catalog=LIS;User ID=sa;Password=wecare4U;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
  </applicationSettings>
</configuration>